" IdeaVim 专用配置

" 加载通用配置文件
source ~/.common_vimrc

" Refer to https://gist.github.com/AlexPl292/50a3ff4cef1badcbb23436b22cbd3cf4
""" Plugins  --------------------------------
set easymotion
set surround
set multiple-cursors
set commentary
set argtextobj
set textobj-entire
set ReplaceWithRegister
set exchange
" Trying the new syntax
Plug 'machakann/vim-highlightedyank'

""" Plugin settings -------------------------
let g:argtextobj_pairs="[:],(:),<:>"

""" Idea specific settings ------------------
set ideajoin
set ideastatusicon=gray

" 由IDE处理快捷键
sethandler i:ide
